html{
  min-width: 100%;
}

main{
  max-width: 100%;
  padding: 20px 50px;
  height: 100%;
  position: relative;
  top: 0;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top:0
}
ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-right: 20px;
}
li.nav-item{
  display:flex;
  align-items: center;
}
li:last-child {
  margin-right: 0;
}
a, a:visited, a:hover, a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.add-form, .edit-form {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
input[type="text"] {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
button.search {
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  margin: 15px;
}

.btn-primary .col-4{
  padding: 6px 10px;
  border-radius: 4px;
  margin: 15px;
}

.action-btn{
  margin: 15px;
}

.page-container{
  display: flex;
  margin: 10px auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

footer {
  background-color: #333;
  color: #fff;
  position: sticky;
  padding: 20px 20px;
  bottom: 0;
  width: 100%
}

.login-form {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-label {
  display: block;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-submit {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-container{
  text-align: center;
  width: 1000px;
  margin: 30px auto;
}