<!DOCTYPE html>
<html>

<head>
  <title>Thư viện</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/png" href="/static/images/icon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/static/script.js"></script>
</head>

<body>
<main>
    <h1>Danh sách sách vừa mượn của sinh viên 1901040219</h1>
    
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Tên sách</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Thể loại</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row">1</th>
                <td>Chân Dung Dorian Gray</td>
                <td>Oscar Wilde</td>
                <td>IRL1</td>
                <td>Tiểu thuyết</td>
                <td>1891</td>
            </tr>
            
            <tr>
                <th scope="row">2</th>
                <td>  Thế Giới Mới Tươi Đẹp  </td>
                <td>  Aldous Huxley  </td>
                <td>BRi1</td>
                <td>Khoa học viễn tưởng</td>
                <td>2017</td>
            </tr>
            
        </tbody>
    </table>
</form>
    
</main>

</body>

</html>